PL△Y L|STS
<button ng-show='queue' ng-click='clear()'><h3>X</h3></button>
<form ng-show='queue'>
  <legend>
    <p>
      Save my playlist as: <input ng-model='freshPlaylistTitle' type='text'/>
      <button ng-show='freshPlaylistTitle' ng-click='savePlaylist()'>Save</button>
    </p>
  </legend>
  </form>
<ul class="nav nav-tabs nav-stacked" ng-repeat="playlist in playlists | orderBy:predicate">
  <li>
    <button ng-click=addToQueue(playlist.$id)>
<h1>
    {{playlist.title}}
</h1>
    </button>
    <ul>
    <li ng-repeat="song in playlists.songs">
      {{song.title}}
    </li>
    </ul>

</li>
</ul>
