
<h2>Account</h2>

<form>
    <fieldset>
        <legend>Profile</legend>

        <label>
            <span>Alias:</span>
            <input type="text" name="name" ng-model="profile.alias"/>
        </label>

<label>
    <span>Email:</span>
    <br />{{profile.email}}
</label>
      <label>
    <span>Statement:</span>
    <br />{{profile.statement}}
</label>
    </fieldset>
</form>

<form>
    <fieldset>
        <legend>Change Password</legend>

        <label>
            <span>Old Password:</span>
            <input type="password" ng-keypress="clear()" ng-model="oldpass"/>
        </label>

        <label>
            <span>New Password:</span>
            <input type="password" ng-keypress="clear()" ng-model="newpass"/>
        </label>

        <label>
            <span>Confirm New Password:</span>
            <input type="password" ng-keypress="clear()" ng-model="confirm"/>
        </label>

        <button ng-click="changePassword(oldpass, newpass, confirm)">change password</button>

        <p class="error" ng-show="err">{{err}}</p>
        <p class="good" ng-show="msg">{{msg}}</p>
    </fieldset>
</form>

<form>
    <fieldset>
        <legend>Update Info</legend>

        <label>
            <span>New Statement:</span>
            <textarea ng-keypress="clear()" ng-model="newStatement"></textarea>
        </label>

        <button ng-click="changeStatement(newStatement)">update statement</button>

        <p class="error" ng-show="statementerr">{{statementerr}}</p>
        <p class="good" ng-show="statementmsg">{{statementmsg}}</p>

    </fieldset>
    <ng-include src="'partials/choose-art.html'">

</form>
