  <div ng-repeat="comment in song.comments">
    <div class='comment'><span class='comment-author'>{{comment.author.alias ||"buddha"}}</span>:<span class='comment-msg'>{{comment.comment}}</span></div>
  </div>
  <button class='commentBtn' ng-hide='song.transmittingComment' ng-show-auth ng-click="beginComment(song)">
    comment
  </button>
  <button ng-hide-auth>
    <a  href="#/login">login</a>
    to post a comment
  </button>

<div id="comments-{{song.key}}" class="comments">
  <div id="comment" ng-show="song.transmittingComment">
    <p>
      {{user.email}}
    </p>
    <p>
        <textarea class='freshComment' ng-model='song.freshComment.comment' placeholder='transmit a comment'>

      </textarea>
    </p>
      <button class='commentBtn' ng-show-auth ng-click="transmitComment(song)">
        comment
      </button>

    </div>
</div>
