<div id="body_content">



  <div class="jumbotron">

    <h1>Upcoming Song a Day: <br><br>January 2015</h1>
    <br>
    <p>
    </p>
    <p><!--
      The song a day in January <a href='https://www.facebook.com/events/809016225782282/811129098904328/?notif_t=plan_mall_activity'>Concert</a> was a magical night, dancing between a melancholy oboe, tribal heart beats, and icelandic emeralds!</p>
    -->
    Check out the <a href="#songs">archives</a> to see all of the songs made.

  </p><p>
    Looking forward to January!
  </p>

  <small>
    Any questions contact <a href="mailto:songadayforamonth@gmail.com" target="_top">
      songadayforamonth@gmail.com</a>
    </small>
  </div>



</div>
