

<div id='s{{song.key}}' ng-show="song">
  <div class='panel panel-info'>
    <div class='panel-heading'>
      <ng-include src="'partials/avatar.html'"></ng-include>
      <a class='alias' href="#/artist/{{song.artist.key}}" >{{song.artist.alias}}</a>
        <strong style='text-align:'><a href='#/song/{{song.key}}'>{{song.title}}</a></strong>
          <strong style='float:right'>        <button ng-click='playsong(song)'>
            +
          </button>
        </strong>
      </div>
        <div class="panel-body">
        <button ng-click='playsong(song)'>
          ▶
        </button>
        <small style='float:right;'>
          <abbr am-time-ago="song.timestamp"></abbr>
          </small>
        </div>
        <div class='panel-footer panel-info'>
          <p>
            {{song.info}}
            <ul ng-include src="'partials/comments.html'">
            </p>
        </div>
      </div>
</div>
