<fieldset flow-init>
    <legend>Transmit a song</legend>
    <div class='well'>      
    <span>Choose Media</span>
    <input ng-flow type="file" name="pic" id="pic" accept="video/webm, video/mp4,video/ogg , audio/ogg, audio/mpeg,audio/wave" />

  <p class="error" ng-show="mediaerr">{{mediaerr}}</p>
  <p class="good" ng-show="mediamsg">{{mediamsg}}</p>
  <audio ng-cloak ng-show='$flow.files[0]' src='$flow.files[0]'></audio>
</div>
<div class='well'>
  <label>
    <span>Blurb </span>
  </label>
  <textarea ng-model="transmission.blurb" type="text"></textarea>
</div>
  <button>
  Submit Transmission
  </button>

</fieldset>
