<form>
<fieldset flow-init>
    <legend>Transmit a song</legend>
    <div class='well'>
    <p>
      <label>
        <span>Title</span>
      </label>
      <input ng-model="transmission.title" type="text"/>
    </p>
    <p>
      <label>
    <span>Info </span>
  </label>
  <textarea ng-model="transmission.info" type="text"></textarea>
  </p>
  <p>
    <label>Choose Media</label>
<input flow-btn type="file" accept="video/*;capture=camcorder;audio/*;capture=microphone" />
<p class="error" ng-show="mediaerr">{{mediaerr}}</p>
<p class="good" ng-show="mediamsg">{{mediamsg}}</p>
 <video controls flow-img="$flow.files[0]"></video>
<p>
 <button ng-click='transmit()'>
   Send Transmission
 </button>
</p>
</div>


</fieldset>
</form>
