<form class='w100'>
<fieldset>
    <legend>Transmit a song</legend>
    <div  ng-hide="song" class='well'>
    <p>
      <label>
        <span>Title</span>
      </label>
      <input class='w100' ng-model="title" type="text"/>
    </p>
    <p>
      <label>
    <span>Info </span>
  </label>
  <textarea class='w100' ng-model="info" type="text"></textarea>
  </p>
  <p>
    <label>Media</label>
<p class="error" ng-show="mediaerr">{{mediaerr}}</p>
<p class="good" ng-show="mediamsg">{{mediamsg}}</p>
<p>
  <div theme='audio' s3-accept='audio/*' s3-upload bucket="s3Bucket" ng-model="media"
  s3-upload-options="{getOptionsUri: s3OptionsUri, folder: destfolder}">
  </div>
</p>
<p><button class='floatr' ng-hide="song" ng-click='sendTransmission()'>SEND</button>
  <p>
  </div>
    <div ng-show="song">
      transmission recieved!
      <div ng-include src="'partials/songelement.html'"></div>
    </div>


</fieldset>
</form>
